<f:layout name="Default" />
<f:section name="Main">
    <f:asset.css identifier="bootstrap" href="EXT:minimal/Resources/Public/Css/bootstrap.min.css" />
    <f:asset.css identifier="custom" href="EXT:minimal/Resources/Public/Css/custom.min.css" />
    <div class="container-fluid"><f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" /></div>
    <div class="container"><f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '1'}" /></div>
    <f:asset.script identifier="bootstrap" src="EXT:minimal/Resources/Public/JavaScript/Dist/bootstrap.bundle.min.js" />
    <f:render partial="Footer" arguments="{_all}" />
</f:section>
<f:layout name="Default" />
