<nav class="navbar navbar-light navbar-expand-lg bg-light">
  <div class="container container-header">
    <a class="navbar-brand" href="/"><img src="/fileadmin/logo.svg" width="225" height="95" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto ml-auto">
    <f:for each="{mainnavigation}" as="mainnavigationItem">
        <li class="nav-item{f:if(condition: mainnavigationItem.active, then:' active')}{f:if(condition: mainnavigationItem.children, then:' dropdown')}">
            <a class="text-decoration-none text-dark nav-link{f:if(condition: mainnavigationItem.children, then:' dropdown-toggle')}" href="{mainnavigationItem.link}" target="{mainnavigationItem.target}" title="{mainnavigationItem.title} {f:if(condition: mainnavigationItem.children, then:' role="button" data-bs-toggle="dropdown" aria-expanded="false"')}">
                {mainnavigationItem.title}
            </a>
            <f:if condition="{mainnavigationItem.children}">
                <ul class="dropdown-menu dropdown-menu-end">
                    <f:for each="{mainnavigationItem.children}" as="child">
                        <li class="nav-item{f:if(condition: child.active, then:' active')}">
                            <a class="text-decoration-none text-dark" href="{child.link}" target="{child.target}" title="{child.title}">
                                {child.title}
                            </a>
                        </li>
                    </f:for>
                </ul>
            </f:if>
        </li>
    </f:for>
</ul>
</div>
</div>
</nav>
<f:render section="Main" />
