<footer class="container mt-5">
  <ul class="nav">
    <li class="py-5"><f:link.page pageUid="3" class="text-decoration-none text-dark">Impressum</f:link.page></li>
    <li class="py-5 px-5"><f:link.page pageUid="4" class="text-decoration-none text-dark">Datenschutz</f:link.page></li>
  </ul>
</footer>
