/* Header-Bild croppen, da wir keine Crop-Vaariants haben */
@media (max-width:574.98px){.container-fluid .ce-row {position: relative;  overflow: hidden}
.container-fluid figure img { min-width: 768px; height auto;}
.container-fluid figure {margin-bottom: 0} /* etwas zu viel padding vielleicht */
}

/* Headlines */
body h1 {font-size:calc(1.625rem + 4.5vw);font-weight:700;}
@media (min-width:1200px){body h1 {font-size:5rem }}

/* Container */
body .container-fluid {padding: 0;}
.container:not(.container-header) img {padding:.25rem;background-color:#fff;border:1px solid #dee2e6;border-radius:.25rem;max-width:100%;height:auto}

/* Navbar */
@media (min-width:992px){.nav-item {margin-left: 25px}}
footer {border-top: 1px solid rgba(0,0,0,0.3)}
@media (max-width:991.98px){.dropdown-menu{border:1px solid transparent; background: transparent}.dropdown-menu li {margin-bottom: 17px}}

/* Appearance */
body .frame-space-before-extra-small {margin-top: 15px}
body .frame-space-before-small {margin-top: 30px}
body .frame-space-before-medium {margin-top: 45px}
body .frame-space-before-large {margin-top: 60px}
body .frame-space-before-extra-large {margin-top: 75px}

body .frame-space-after-extra-small {margin-bottom: 15px}
body .frame-space-after-small {margin-bottom: 30px}
body .frame-space-after-medium {margin-bottom: 45px}
body .frame-space-after-large {margin-bottom: 60px}
body .frame-space-after-extra-large {margin-bottom: 75px}

/* minimal_child uses only space instead of frame */
body .space-before-extra-small {margin-top: 15px}
body .space-before-small {margin-top: 30px}
body .space-before-medium {margin-top: 45px}
body .space-before-large {margin-top: 60px}
body .space-before-extra-large {margin-top: 75px}

body .space-after-extra-small {margin-bottom: 15px}
body .space-after-small {margin-bottom: 30px}
body .space-after-medium {margin-bottom: 45px}
body .space-after-large {margin-bottom: 60px}
body .space-after-extra-large {margin-bottom: 75px}
